<section>
  <div class="row large-up-12">
    <div class="column error">
      <% if flash[:notice] %>
        <p class="error"><%= flash[:notice] %></p>
      <% end %>
    </div>
    <div class="column error">
      <% if @item.errors %>
        <% @item.errors.each do |key, err| %>
          <p>
            <%= "#{ key.capitalize } #{ err }" %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<%= form_for @item, url: {action: action, method: method} do |f| %>
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :name, "Name", {class: "form-control"} %>
      <%= f.text_field :name, {class: "form-control"} %>

      <%= f.label :author, @author_text, {class: "form-control"} %>
      <%= f.text_field :author, {class: "form-control"} %>

      <%= f.label :description, {class: "form-control"} %>
      <%= f.text_area :description, {class: "form-control"} %>

      <%= f.submit "Save", { class: "btn btn-default" } %>
    </div>
  </div>
<% end %>
